@import "tailwindcss";

body {
  background-color: #858585;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
